# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files
# Useful .gitignore templates: https://github.com/github/gitignore
node_modules
dist
.cache
.idea
jetbrains_boilerplate
testground
css-exercises/*
!css-exercises/foundations
js-exercises/foundations/*
!js-exercises/foundations/01_helloWorld
!js-exercises/foundations/02_repeatString
!js-exercises/foundations/03_reverseString
!js-exercises/foundations/04_removeFromArray
!js-exercises/foundations/05_sumAll
!js-exercises/foundations/06_leapYears
!js-exercises/foundations/07_tempConversion
!js-exercises/foundations/08_calculator
!js-exercises/foundations/09_palindromes
!js-exercises/foundations/10_fibonacci
**/solution
local/*
.vscode
.DS_Store